<div class="headLinkCont">
	<%= render 'shared/headerLinks' %>
</div>


<div class="toolKitCont">
	<h1>JBV Toolkit</h1>

	<%= link_to 'Change Text', {controller: 'translations'}, class: 'whiteLink' %>
</div>

<div class="contentCont">
	<h1>JBV Content</h1>

	<%= link_to 'Add/Edit Testimonials', {controller: 'testimonials'}, class: 'whiteLink' %>

</div>
