/**********fonts*/
 
.archD {
	font-family: 'Architects Daughter';
	font-size: 2vw;
	color: #0a0d2e;
}

.vwSizePS {
	/* so PS text in logo is a little bigger than 2vw */
	font-size: 2.1vw;	
}

.bottomPad {
	padding-bottom: 1em;
}



/********** sizes */

.largeText {
	font-size: 3em;
}

.mediumText {
	font-size: 1.4em;
}

.smallText {
	font-size: .75em;
}