// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base/vars';

/********** classes. most copied from current page, with modifications */   

.ico {
  font-family: 'Material Icons'; 
  font-size: 4.6em;
}

.svgicon {
  width: 5em;
  height: 5em;
}

.bottom {
  padding: .5em 0;
  margin: 0;
  background-color: #d7dfe4;
  font-size: 1em;
  text-align: center;
}

.contact-info {
  font-size: .7em;
  font-weight: lighter;
  padding: 0 0 .8em 0;
} 

.contactText {
	color: #505050;
	font-size: .5em;
}  

.blueText {
	color: #0071BC;
}

.contact-info p {
  font-size: 1.4em;

  font-weight: normal;
  margin: 0;
}


/********** by element name copied from existing page, with modifications */


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  margin: -1.25em 1.75em;
  padding: .15em 0 0 0;
}

nav {
  display: block;
  width: 90%;
  text-align: center;
  margin: 3em auto 6em auto;
}

nav ul {
  margin: 2em 0;
}

nav li {
  display: inline-block;
  background: #fff; 
  width: 7em;
  height: 7em; 
  padding: 1em;
  font-size: .75em;
  margin-bottom: -1.5em;
}

p {
  margin: .1em;
  padding: 0;
}

a, svg path {
  color: $background-blue;
  fill: $background-blue;
  text-decoration: none;
}

a:hover, a:hover path, .psst a:hover > * {
  color: #0071bc;
  fill: #0071bc;
}

sup {
  font-size: .45em;
}

sup, .bottom {
  font-family: sans-serif;
}

footer {
  height: 8em;
  bottom: 0;
  width: 100%;
}





