// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/********** SCSS Variables */

@import "_typography.scss";


/********** broadest elements */
/**********  the intention of this section is to carry to all other views */
/**********  though that is true for all selectors?  */

html {
	font-family: $font-stack;
	font-size: 16px;
	background-color: white;
	color: white;
}

body {
	background-color: $background_blue;
	max-width: 1920px;
	margin: 0 auto;
	padding: 1em 0 0 0;
	margin: 0;
  text-align: center;
} 


/**********fonts*/
	/**********  these also carry to other views (intentionally) but are less broad */
 
.archD {
	font-family: 'Architects Daughter';
	font-size: 2vw;
	color: #0a0d2e;
}

.vwSizePS {
	/* so PS text in og is a little bigger than 2vw */
	font-size: 2.1vw;	
}

.bottomPad {
	padding-bottom: 1em;
}


/**********containers */

.logoCont {
	/************ shared with other views: all in funnel */
  background-color: #fff; 
  width: 12em;
  height: 12em;
  display: inline-block;
  margin: 2em auto 1em;	
}

/********** classes copied from current page, with modifications */   

.ico {
  font-family: 'Material Icons'; 
  font-size: 4.6em;
}

.svgicon {
  width: 5em;
  height: 5em;
}

.bottom {
  padding: .5em 0;
  margin: 0;
  background-color: #d7dfe4;
  font-size: 1em;
  text-align: center;
}

.contact-info {
  font-size: .7em;
  font-weight: lighter;
  padding: 0 0 .8em 0;
} 

.contactText {
	color: #505050;
	font-size: .5em;
}  

.blueText {
	color: #0071BC;
}


/********** by element name copied from existing page, with modifications */


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  margin: -1.25em 1.75em;
  padding: .15em 0 0 0;
}

nav {
  display: block;
  width: 90%;
  text-align: center;
  margin: 3em auto 6em auto;
}

nav ul {
  margin: 2em 0;
}

nav li {
  display: inline-block;
  background: #fff; 
  width: 7em;
  height: 7em; 
  padding: 1em;
  font-size: .75em;
  margin-bottom: -1.5em;
}

p {
  margin: .1em;
  padding: 0;
}

a, a:visited, svg path {
  color: $background_blue;
  fill: $background_blue;
  text-decoration: none;
}

a:hover, a:hover path, .psst a:hover > * {
  color: #0071bc;
  fill: #0071bc;
}

sup {
  font-size: .45em;
}

sup, .bottom {
  font-family: sans-serif;
}

footer {
  height: 8em;
  bottom: 0;
  width: 100%;
}

.contact-info p {
  font-size: 1.4em;

  font-weight: normal;
  margin: 0;
}


/********** used by partials */

a.whiteLink {
  color: #d7dfe4;
  fill: $background_blue;
  text-decoration: none;
}

.headLinkCont {
	text-align: right;
	padding: 1em;
}

/**********image*/

.logoImage {
  display: block;
  margin: 1em auto .5em auto;
  width: 8em;
  height: 8em;
}
