// Place all the styles related to the questThank controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/**********removed*/

.videoImage {
	max-width: 100%;
	height: auto;
}

/**********containers */

.thankyouCont {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	text-align: center;
	padding: 1.5em 0 3em 0;
}


/* large padding is a trick to make responsive from here https://blog.theodo.com/2018/01/responsive-iframes-css-trick/ 
I changed widht, height so it doesnt fill screen and add a pad-left to center. this seems like a hack. */

.videoCont {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}



.iframeCont {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 70%;
	border: 0;
	padding-left: 15%;
}

/* from new tutorial */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 15%;
	width: 70%;
	height: 70%;
}
